/* Basic styling for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  font-size: 24px;
  color: #ff7b7b;
  margin-bottom: 20px;
}

#countdown {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ff7b7b; /* Customize your color */
}

#timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.flip {
  width: 70px;
  height: 90px;
  perspective: 1000px; /* Ensures the 3D effect */
  position: relative;
}

.flip-front,
.flip-back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbeadf; /* Default flip background */
  color: #ff7b7b;
  font-size: 2em;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  backface-visibility: hidden;
}

.flip-back {
  background-color: #ff7b7b;
  color: #fff;
  transform: rotateX(180deg);
}

/* Animation for flip effect */
.flip.flip-active .flip-front {
  animation: flip-front 0.7s forwards;
}

.flip.flip-active .flip-back {
  animation: flip-back 0.7s forwards;
}

@keyframes flip-front {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes flip-back {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}
